body{
  background: #0B486B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 20px;
}
header h1{
  text-align: center;
  color:white;
}

/* pregunta.js */
.contenedor-pregunta {
  width: 60%;
  margin:auto;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding-bottom:30px;
  padding-top: 10px;
  border-radius: 5px 5px 5px;
}
.contenedor-pregunta h2{
  color:rgb(14, 72, 95)
}
.contenedor-pregunta form input{
  width: 90%;
  padding: 5px 0;
  margin:5px 0 5px 0;
  border-radius: 5px 5px 5px;
  box-sizing:border-box;
}
.contenedor-pregunta form input:nth-of-type(2){
  background-color: rgb(27, 88, 88);
  border:rgb(27, 88, 88) solid;
  color: white;
}

/* error.js */
.error {
  font-size: 20px;
  padding:5px 0;
  color: rgb(95, 24, 24);
  background-color: rgb(228, 133, 133);
  
  text-align: center;
  margin: auto;
}

/*contenedor del formulario y el otro component*/
.contenedor-div{
  width:60%;
  padding:10px;
  background-color: white;
  margin-top: 10px;
  display: inline-flex;
  margin-left: 300px;
}
.contenedor-div h2{
  color: #0B486B;
  font-weight: 400;
}

/* formulario.js */
.contenedor-form{
  width:50%;
  box-sizing: border-box;
  padding-right: 20px;

 
}
.contenedor-form input{
  width:100%;
  padding:5px 0;
  margin:5px 0 10px 0;
  box-sizing: border-box;
  border-radius: 5px 5px 5px;
}
 .contenedor-form input:nth-of-type(3){
  text-align:center;
  background-color:rgb(27, 88, 88);
  border:solid rgb(27, 88, 88);
  color:white
}
.contenedor-form h2{
  text-align: center;
}
.contenedor-form .error{
  width: 100%;
}


/* contenedor-mostrargasto.presupuesto */
.contenedor-2{
  width: 50%;

}

/* mostrarGasto.js */

.contenedor-2 .contenedor-mostrargasto h2{
  text-align: center;
}

/* gasto.js */
.contenedor-2 .contenedor-gasto{
  border-bottom: 1px gray solid;
  padding-bottom: 10px;
}
.contenedor-2 .contenedor-gasto  li{
  display: inline;
  text-decoration: none;
  
}

.contenedor-2 .contenedor-gasto li:nth-of-type(1){
  margin-left: -29px;
  font-weight: bold;
  color: rgb(59, 59, 59);
  font-size: 18px;
}
.contenedor-2 .contenedor-gasto li:nth-of-type(2){
  background-color: #0B486B;
  float: right;
  margin-right: 10px;
  color: white;
  padding: 3px 6px;

}
/* controlPresupuesto.js */
.contenedor-2 .contenedor-controlpresupuesto p:nth-of-type(1){
  background-color: rgb(116, 158, 236);
  color:rgb(13, 33, 99)
}
.contenedor-2 .contenedor-controlpresupuesto p{
  padding:7px;
  border-radius: 5px 5px 5px;
  margin:5px
}


/* helpers advertencia de la plata que le queda */
.verde{
  color:rgb(8, 58, 8);
  background-color: rgb(107, 255, 139);
}
.rojo{
  color:rgb(87, 12, 12);
  background-color: rgb(209, 102, 102);
}
.amarillo{
  color:rgb(78, 78, 11);
  background-color: rgb(229, 236, 119);
}





/* responsive */


@media screen and (max-width:1400px){
  .contenedor-div{
    margin-left: 50px;
    width: 90%;
  }
  .contenedor-pregunta{
    width: 90%;
  }
}

@media screen and (max-width:800px){

  .contenedor-div{
    margin-left: 26px;
   
  }
}
@media screen and (max-width:600px){

  .contenedor-div{
    margin-left: 60px;

    display:block;
    margin:auto

  }
  .contenedor-form{
    width:100%;

    padding: 0;
  }
  .contenedor-2{
    width: 100%;
  
  }
  .contenedor-2 .contenedor-controlpresupuesto p{
    padding:7px;
    width:100%;
    margin-left: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width:450px){
  .contenedor-div{
    width: 99%;
    padding: 0;
  }

  .contenedor-pregunta{
    width: 99%;
  
   
  }
  .contenedor-mostrargasto,
  .contenedor-form,
  .contenedor-controlpresupuesto{
    padding:5px
  }

}